		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="piece-story section">Oil paintings made using a projector to precisely imitate each of the eight images contained in the Mac OS desktop image folder named <em>Abstract</em>.</p>
{% include piece-specifics.html %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="abstract-CMYK-menu" role="navigation">
				<ul class="section">
					<li><a {% if page.id contains ' cmyk-1one' %}aria-current="page"{% endif %} href="/cmyk/cmyk-one/">Abstract 1</a></li>
					<li><a {% if page.id contains ' cmyk-2two' %}aria-current="page"{% endif %} href="/cmyk/cmyk-two/">Abstract 2</a></li>
					<li><a {% if page.id contains ' cmyk-3thre' %}aria-current="page"{% endif %} href="/cmyk/cmyk-three/">Abstract 3</a></li>
					<li><a {% if page.id contains ' cmyk-4fou' %}aria-current="page"{% endif %} href="/cmyk/cmyk-four/">Abstract 4</a></li>
					<li><a {% if page.id contains ' cmyk-5fiv' %}aria-current="page"{% endif %} href="/cmyk/cmyk-five/">Abstract 5</a></li>
					<li><a {% if page.id contains ' cmyk-6six' %}aria-current="page"{% endif %} href="/cmyk/cmyk-six/">Abstract 6</a></li>
					<li><a {% if page.id contains ' cmyk-7sev' %}aria-current="page"{% endif %} href="/cmyk/cmyk-seven/">Abstract 7</a></li>
					<li><a {% if page.id contains ' cmyk-8eig' %}aria-current="page"{% endif %} href="/cmyk/cmyk-eight/">Abstract 8</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->