		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="block">Oil paintings made using a projector to precisely imitate each of the eight images contained in the Mac OS desktop image folder named <em>Abstract</em>.</p>
{% include piece-specifics.html %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="abstract-CMYK-menu" role="navigation">
				<ul class="block">
					<li><a class="cmyk-one" href="/cmyk/cmyk-one/">Abstract 1</a></li>
					<li><a class="cmyk-two" href="/cmyk/cmyk-two/">Abstract 2</sa></li>
					<li><a class="cmyk-three" href="/cmyk/cmyk-three/">Abstract 3</a></li>
					<li><a class="cmyk-four" href="/cmyk/cmyk-four/">Abstract 4</a></li>
					<li><a class="cmyk-five" href="/cmyk/cmyk-five/">Abstract 5</a></li>
					<li><a class="cmyk-six" href="/cmyk/cmyk-six/">Abstract 6</a></li>
					<li><a class="cmyk-seven" href="/cmyk/cmyk-seven/">Abstract 7</a></li>
					<li><a class="cmyk-eight" href="/cmyk/cmyk-eight/">Abstract 8</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->