		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="piece-story section">Complete foundational texts re-formatted as monochromes and printed on cellulose. Prints were buried underground on the last day of fall 2012 (Dec 20), and exhumed on the last day of spring 2014.</p>
{% include piece-specifics.html %}
		</aside>
		<div class="section-access">
			<nav aria-label="illuminated-manuscripts-menu">
				<ul class="section">
					<li><a {% if page.id contains ' al-q' %}aria-current="page"{% endif %} href="/im/al-qur-an/">Al Qur'an</a> | <a href="/downloads/im/Al.Quran.Landscape.Web.pdf.zip">PDF (283KB)</a></li>
					<li><a {% if page.id contains ' bhagavad' %}aria-current="page"{% endif %} href="/im/bhagavad-gita/">Bhagavad Gita</a> | <a href="/downloads/im/Gita.Landscape.Web.pdf.zip">PDF (143KB)</a></li>
					<li><a {% if page.id contains ' crest' %}aria-current="page"{% endif %} href="/im/crest-jewel-of-discrimination/">Crest Jewel of Discrimination</a> | <a href="/downloads/im/Crest.Jewel.Landscape.Web.pdf.zip">PDF (131KB)</a></li>
					<li><a {% if page.id contains ' critique' %}aria-current="page"{% endif %} href="/im/critique-of-pure-reason/">Critique of Pure Reason</a> | <a href="/downloads/im/Critique.Pure.Reason.Landscape.Web.pdf.zip">PDF (602KB)</a></li>
					<li><a {% if page.id contains ' de-docta' %}aria-current="page"{% endif %} href="/im/de-docta-ignorantia/">De Docta Ignorantia</a> | <a href="/downloads/im/De.Docta.Ignorantia.Landscape.Web.pdf.zip">PDF (221KB)</a></li>
					<li><a {% if page.id contains ' hsin' %}aria-current="page"{% endif %} href="/im/hsin-hsin-ming/">Hsin Hsin Ming</a> | <a href="/downloads/im/Hsin.Hsin.Ming.Landscape.Web.pdf.zip">PDF (74KB)</a></li>
					<li><a {% if page.id contains ' mula' %}aria-current="page"{% endif %} href="/im/mulamadhyamakakarika/">Mūlamadhyamakakārikā</a> | <a href="/downloads/im/MMK.Landscape.Web.pdf.zip">PDF (221KB)</a></li>
					<li><a {% if page.id contains ' new-test' %}aria-current="page"{% endif %} href="/im/new-testament/">New Testament</a> | <a href="/downloads/im/New.Testament.Landscape.Web.pdf.zip">PDF (594KB)</a></li>
					<li><a {% if page.id contains ' old-test' %}aria-current="page"{% endif %} href="/im/old-testament/">Old Testament</a> | <a href="/downloads/im/Old.Testament.Landscape.Web.pdf.zip">PDF (1.4MB)</a></li>
					<li><a {% if page.id contains ' phenom' %}aria-current="page"{% endif %} href="/im/phenomenology-of-spirit/">Phenomenology Of Spirit</a> | <a href="/downloads/im/Phenomenology.Of.Spirit.Landscape.Web.pdf.zip">PDF (692KB)</a></li>
					<li><a {% if page.id contains ' philo' %}aria-current="page"{% endif %} href="/im/philosophical-investigations/">Philosophical Investigations</a> | <a href="/downloads/im/Philosophical.Investigations.Landscape.Web.pdf.zip">PDF (340KB)</a></li>
					<li><a {% if page.id contains ' tao-te' %}aria-current="page"{% endif %} href="/im/tao-te-ching/">Tao Te Ching</a> | <a href="/downloads/im/Tao.Te.Ching.Landscape.Web.pdf.zip">PDF (115KB)</a></li>
					<li><a {% if page.id contains ' upanish' %}aria-current="page"{% endif %} href="/im/upanishads/">Upanishads</a> | <a href="/downloads/im/Upanishads.Landscape.Web.pdf.zip">PDF (287KB)</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->