		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="piece-story section">Complete foundational texts re-formatted as monochromes and printed on cellulose. Prints were buried underground on the last day of fall 2012 (Dec 20), and exhumed on the last day of spring 2014.</p>
{% include piece-specifics.html %}
		</aside>
		<div role="complementary" class="section-access">
			<nav aria-label="illuminated-manuscripts-menu" role="navigation">
				<ul class="section">
					<li><a class="al-q" href="/im/al-qur-an/">Al Qur'an</a> | <a href="/pdf/im/Al.Quran.Landscape.Web.pdf">PDF (283KB)</a></li>
					<li><a class="bhagavad" href="/im/bhagavad-gita/">Bhagavad Gita</a> | <a href="/pdf/im/Gita.Landscape.Web.pdf">PDF (143KB)</a></li>
					<li><a class="crest" href="/im/crest-jewel-of-discrimination/">Crest Jewel of Discrimination</a> | <a href="/pdf/im/Crest.Jewel.Landscape.Web.pdf">PDF (131KB)</a></li>
					<li><a class="critique" href="/im/critique-of-pure-reason/">Critique of Pure Reason</a> | <a href="/pdf/im/Critique.Pure.Reason.Landscape.Web.pdf">PDF (602KB)</a></li>
					<li><a class="de-docta" href="/im/de-docta-ignorantia/">De Docta Ignorantia</a> | <a href="/pdf/im/De.Docta.Ignorantia.Landscape.Web.pdf">PDF (221KB)</a></li>
					<li><a class="hsin" href="/im/hsin-hsin-ming/">Hsin Hsin Ming</a> | <a href="/pdf/im/Hsin.Hsin.Ming.Landscape.Web.pdf">PDF (74KB)</a></li>
					<li><a class="mula" href="/im/mulamadhyamakakarika/">Mūlamadhyamakakārikā</a> | <a href="/pdf/im/MMK.Landscape.Web.pdf">PDF (221KB)</a></li>
					<li><a class="new-test" href="/im/new-testament/">New Testament</a> | <a href="/pdf/im/New.Testament.Landscape.Web.pdf">PDF (594KB)</a></li>
					<li><a class="old-test" href="/im/old-testament/">Old Testament</a> | <a href="/pdf/im/Old.Testament.Landscape.Web.pdf">PDF (1.4MB)</a></li>
					<li><a class="phenom" href="/im/phenomenology-of-spirit/">Phenomenology Of Spirit</a> | <a href="/pdf/im/Phenomenology.Of.Spirit.Landscape.Web.pdf">PDF (692KB)</a></li>
					<li><a class="philo" href="/im/philosophical-investigations/">Philosophical Investigations</a> | <a href="/pdf/im/Philosophical.Investigations.Landscape.Web.pdf">PDF (340KB)</a></li>
					<li><a class="tao-te" href="/im/tao-te-ching/">Tao Te Ching</a> | <a href="/pdf/im/Tao.Te.Ching.Landscape.Web.pdf">PDF (115KB)</a></li>
					<li><a class="upanish" href="/im/upanishads/">Upanishads</a> | <a href="/pdf/im/Upanishads.Landscape.Web.pdf">PDF (287KB)</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->