		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="piece-story section"><a href="http://plato.stanford.edu/entries/nagarjuna/" rel="external">Nagarjuna’s</a> <a  href="/images/nagarjuna/Karik-Presentation-File.zip">Mulamadhyamakakarika</a>, is reorganized into columns containing every occurrence of each distinct word in the text. In a durational performance, each distinct word is calligraphed into a book opened to its middle page and laid on the floor. </p>
			<ul class="piece-specifics section">
				<li><span class="visually-hidden">Date of creation: </span>2011</li>
				<li><span class="visually-hidden">Measurements: </span>Dimensions Variable</li>
				<li><span class="visually-hidden">Medium: </span>Performance, marker, books <br />projector, audio, laptops</li>
			</ul>
		</aside>
		<div role="complementary" class="section-access">
			<nav aria-label="illuminated-manuscripts-menu" role="navigation">
				<ul class="section">
						<li><a class="nagarjuna" href="/nagarjuna/">Installation</a></li>
						<li class="mulamad"><a  href="/downloads/karika/Karika-Presentation-File.zip">Mulamadhyamakakarika.zip</a></li>
						<li class="sastra"><a title="Isolated words from a commentary on a commentary on a commentary cycle through at a pace just beyond legibility." href="/nagarjuna/text-cycle/">Sastra</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->