		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="block"><a href="http://plato.stanford.edu/entries/nagarjuna/" rel="external">Nagarjuna’s</a> <a  href="/images/nagarjuna/Karik-Presentation-File.zip">Mulamadhyamakakarika</a>, is reorganized into columns containing every occurrence of each distinct word in the text. In a durational performance, each distinct word is calligraphed into a book opened to its middle page and laid on the floor. </p>
			<ul class="block">
				<li><span class="assistive-text">Date of creation: </span>2011</li>
				<li><span class="assistive-text">Measurements: </span>Dimensions Variable</li>
				<li><span class="assistive-text">Medium: </span>Performance, marker, books <br />projector, audio, laptops</li>
			</ul>
		</aside>
		<div role="complementary" class="section-access">
			<nav aria-label="illuminated-manuscripts-menu" role="navigation">
				<ul class="block">
						<li class="nagarjuna"><a href="/nagarjuna/">Installation</a></li>
						<li class="mulamad"><a  href="/images/nagarjuna/Karik-Presentation-File.zip">Mulamadhyamakakarika.zip</a></li>
						<li class="sastra"><a title="Isolated words from a commentary on a commentary on a commentary cycle through at a pace just beyond legibility." href="/images/nagarjuna/TEXTCYCLE/">Sastra</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->