		<div role="complementary" class="section-access">
			<nav aria-label="object-menu" role="navigation">
				<ul class="block">
					<li class="obj-one"><a href="/object/object-one/">Object 1</a></li>
					<li class="obj-three"><a href="/object/object-three/">Object 3</a></li>
					<li class="obj-six"><a href="/object/object-six/">Object 6</a></li>
					<li class="obj-eight"><a href="/object/object-eight/">Object 8</a></li>
					<li class="obj-ins-one"><a href="/object/install-one/">Object 1 Installation</a></li>
					<li class="obj-ins-two"><a href="/object/install-two/">Subject 3, 13, Object 3 Installation</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->