		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="piece-story section">Prints using Photoshop to mirror archived photographs of the architecture of WWII munitions and lab technology.</p>
{% if page.id contains 'install' %}
{% include installation-specifics.html %}
{% else %}
{% include piece-specifics.html %}
{% endif %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="object-menu" role="navigation">
				<ul class="section">
					<li><a class="obj-one" href="/object/object-one/">Object 1</a></li>
					<li><a class="obj-three" href="/object/object-three/">Object 3</a></li>
					<li><a class="obj-six" href="/object/object-six/">Object 6</a></li>
					<li><a class="obj-eight" href="/object/object-eight/">Object 8</a></li>
					<li><a class="obj-ins-one" href="/object/install-one/">Object 1 Installation</a></li>
					<li><a class="obj-ins-two" href="/object/install-two/">Subject 3, 13, Object 3 Installation</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->