		<aside aria-label="piece-specifications" class="piece-meta">
			<!-- <p class="piece-story section">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
{% include piece-specifics.html %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="abstract-CMYK-menu" role="navigation">
				<ul class="section">
					<li><a {% if page.id contains ' painting-15fifteen' %}aria-current="page"{% endif %} href="/paintings/fifteen/">Covid Leg Painting</a></li>
					<li><a {% if page.id contains ' painting-14fourteen' %}aria-current="page"{% endif %} href="/paintings/fourteen/">False Predication</a></li>
					<li><a {% if page.id contains ' painting-13thirteen' %}aria-current="page"{% endif %} href="/paintings/thirteen/">45 Days</a></li>
					<li><a {% if page.id contains ' painting-12twelve' %}aria-current="page"{% endif %} href="/paintings/twelve/">°°°</a></li>
					<li><a {% if page.id contains ' painting-11eleven' %}aria-current="page"{% endif %} href="/paintings/eleven/">Boat Metaphor</a></li>
					<li><a {% if page.id contains ' painting-10ten' %}aria-current="page"{% endif %} href="/paintings/ten/">^^^brosia</a></li>
					<li><a {% if page.id contains ' painting-9nine' %}aria-current="page"{% endif %} href="/paintings/nine/">Centre <~> Whole</a></li>
					<li><a {% if page.id contains ' painting-8eight' %}aria-current="page"{% endif %} href="/paintings/eight/">Incredulity of St Thomas</a></li>
					<li><a {% if page.id contains ' painting-7seven' %}aria-current="page"{% endif %} href="/paintings/seven/">Misplaced Absoluteness</a></li>
					<li><a {% if page.id contains ' painting-6six' %}aria-current="page"{% endif %} href="/paintings/six/">Urticaria 2</a></li>
					<li><a {% if page.id contains ' painting-5five' %}aria-current="page"{% endif %} href="/paintings/five/">Aware of Being Aware</a></li>
					<li><a {% if page.id contains ' painting-4four' %}aria-current="page"{% endif %} href="/paintings/four/">FMW</a></li>
					<li><a {% if page.id contains ' painting-3three' %}aria-current="page"{% endif %} href="/paintings/three/">SAT>CHIT</a></li>
					<li><a {% if page.id contains ' painting-2two' %}aria-current="page"{% endif %} href="/paintings/two/">polemagnetpole</a></li>
					<li><a {% if page.id contains ' painting-1one' %}aria-current="page"{% endif %} href="/paintings/one/">Single-pointed attention</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->