		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="block">Curated by Noa Bronstein and Katherine Dennis. A group of images and artefacts staged in the Gibson House Museum, Toronto. The images were produced from scanned photos of the Gibson family selected by the Museum’s curator. The artefacts were selected from the Collection at the Orillia Museum of Art &amp; History. The artefacts titles are from <a href="http://www.canadianliving.com/life/money/top_15_home_staging_tips.php" rel="external">Canadian Living’s <em>Top 15 Home Staging Tips</em></a> (Installation photos by Toni Hafkenscheid)</p>
{% include piece-specifics.html %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="Gibson Web" role="navigation">
				<ul class="block">
					<li class="real-estates-one"><a href="/real-estates/real-estates-one/">Untitled (Vernon Gibson &amp; Friends Under Tree)</a></li>
					<li class="real-estates-two"><a href="/real-estates/real-estates-two/">Untitled (Vernon Gibson with Camera)</a></li>
					<li class="real-estates-three"><a href="/real-estates/real-estates-three/">Untitled (James &amp; Martha Gibson 001)</a></li>
					<li class="real-estates-four"><a href="/real-estates/real-estates-four/">Untitled (Morton on Horse)</a></li>
					<li class="real-estates-five"><a href="/real-estates/real-estates-five/">Untitled (Vernon and Friend)</a></li>
					<li class="real-estates-six"><a href="/real-estates/real-estates-six/">Untitled (Elmore and Football)</a></li>
					<li class="real-estates-seven"><a href="/real-estates/real-estates-seven/">Untitled (Ansel Gibson on Tricycle)</a></li>
					<li class="real-estates-eight"><a href="/real-estates/real-estates-eight/">Untitled (Elmore Harkness in Big Straw)</a></li>
					<li class="real-estates-nine"><a href="/real-estates/real-estates-nine/">Untitled (Eldon with Teddy Bear)</a></li>
					<li class="real-estates-ten"><a href="/real-estates/real-estates-ten/">Untitled (Path1)</a></li>
					<li class="real-estates-eleven"><a href="/real-estates/real-estates-eleven/">Untitled (Vernon Lawnmower)</a></li>
					<li class="real-estates-twelve"><a href="/real-estates/real-estates-twelve/">Untitled (Mabel (nee Gibson) &amp; Wm Schmidt)</a></li>
					<li class="real-estates-thirteen"><a href="/real-estates/real-estates-thirteen/">Untitled (Eva)</a></li>
					<li class="real-estates-fourteen"><a href="/real-estates/real-estates-fourteen/">Untitled (Eva &amp; Logo)</a></li>
					<li class="real-estates-fifteen"><a href="/real-estates/real-estates-fifteen/">Untitled (Stetson)</a></li>
					<li class="real-estates-sixteen"><a href="/real-estates/real-estates-sixteen/">Untitled (Arla Harkness on Fence)</a></li>
					<li class="real-estates-seventeen"><a href="/real-estates/real-estates-seventeen/">Untitled (Eliza Jane Mabel Morton)</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->