		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="block">Life sized images derived from archives photos documenting lab and munitions workers circa <abbr>WWII</abbr>. Lab culture, munitions and associated technology removed.</p>
{% if page.html-class contains 'install' %}
{% include installation-specifics.html %}
{% else %}
{% include piece-specifics.html %}
{% endif %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="subject-menu" role="navigation">
				<ul class="block">
					<li class="sub-one"><a href="/subject/subject-one/">Subject 1</a></li>
					<li class="sub-two"><a href="/subject/subject-two/">Subject 2</a></li>
					<li class="sub-three"><a href="/subject/subject-three/">Subject 3</a></li>
					<li class="sub-five"><a href="/subject/subject-five/">Subject 5</a></li>
					<li class="sub-twelve"><a href="/subject/subject-twelve/">Subject 12</a></li>
					<li class="sub-fifteen"><a href="/subject/subject-fifteen/">Subject 15</a></li>
					<li class="sub-sixteen"><a href="/subject/subject-sixteen/">Subject 16</a></li>
					<li class="sub-seventeen"><a href="/subject/subject-seventeen/">Subject 17</a></li>
					<li class="sub-eighteen"><a href="/subject/subject-eighteen/">Subject 18</a></li>
					<li class="sub-twentyone"><a href="/subject/subject-twentyone/">Subject 21</a></li>
					<li class="sub-ins-four"><a href="/subject/install-four/">Subject 1, 5, 12 Installation</a></li>
					<li class="sub-ins-three"><a href="/subject/install-three/">Subject 13, 14 Installation</a></li>
					<li class="sub-ins-five"><a href="/subject/install-five/">Subject 7, 8, 9 Installation</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->