		<aside aria-label="piece-specifications" class="piece-meta">
			<p class="piece-story section">Life sized images derived from archives photos documenting lab and munitions workers circa <abbr>WWII</abbr>. Lab culture, munitions and associated technology removed.</p>
{% if page.id contains 'install' %}
{% include installation-specifics.html %}
{% else %}
{% include piece-specifics.html %}
{% endif %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="subject-menu" role="navigation">
				<ul class="section">
					<li><a {% if page.id contains ' sub-1one' %}class="active-piece"{% endif %} href="/subject/subject-one/">Subject 1</a></li>
					<li><a {% if page.id contains ' sub-2two' %}class="active-piece"{% endif %} href="/subject/subject-two/">Subject 2</a></li>
					<li><a {% if page.id contains ' sub-3thr' %}class="active-piece"{% endif %} href="/subject/subject-three/">Subject 3</a></li>
					<li><a {% if page.id contains ' sub-5fiv' %}class="active-piece"{% endif %} href="/subject/subject-five/">Subject 5</a></li>
					<li><a {% if page.id contains ' sub-12tw' %}class="active-piece"{% endif %} href="/subject/subject-twelve/">Subject 12</a></li>
					<li><a {% if page.id contains ' sub-15fi' %}class="active-piece"{% endif %} href="/subject/subject-fifteen/">Subject 15</a></li>
					<li><a {% if page.id contains ' sub-16si' %}class="active-piece"{% endif %} href="/subject/subject-sixteen/">Subject 16</a></li>
					<li><a {% if page.id contains ' sub-17se' %}class="active-piece"{% endif %} href="/subject/subject-seventeen/">Subject 17</a></li>
					<li><a {% if page.id contains ' sub-18ei' %}class="active-piece"{% endif %} href="/subject/subject-eighteen/">Subject 18</a></li>
					<li><a {% if page.id contains ' sub-21tw' %}class="active-piece"{% endif %} href="/subject/subject-twentyone/">Subject 21</a></li>
					<li><a {% if page.id contains ' sub-ins-4fou' %}class="active-piece"{% endif %} href="/subject/install-four/">Subject 1, 5, 12 Installation</a></li>
					<li><a {% if page.id contains ' sub-ins-3thr' %}class="active-piece"{% endif %} href="/subject/install-three/">Subject 13, 14 Installation</a></li>
					<li><a {% if page.id contains ' sub-ins-5fiv' %}class="active-piece"{% endif %} href="/subject/install-five/">Subject 7, 8, 9 Installation</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->