		<aside aria-label="piece detail" class="piece-meta">
			<p class="piece-story section">A research led visual art project and soundscape exploring the way maps, and planned land use ‘mark’ and affect lived experience. Stemming from archival maps, photographs and textual records, the installation features are rooted in the history of the Nine Mile Portage as a visible mark on the landscape. The pedestrian trail began as an Anishinaabek trade path, before being appropriated as a supply route in the War of 1812 and the centre of a host of significant resource extraction and commercial development activity up to the early 2000s. The base of the trail is the site of the MacLaren Art Centre, where the project was shown.</p>
			<p class="download-catalogue section"><a href="/downloads/tt/Type-and-Token-web.Catalogue.pdf">Download Catalogue (PDF: 2.8 MB)</a></p>
{% include show-specifics.html %}
		</aside>

		<div role="complementary" class="section-access">
			<nav aria-label="Type and Token Main Images" role="navigation">
				<ul class="section">
					<li><a {% if page.id contains ' type-token-1one' %}aria-current="page"{% endif %} href="/tt/type-token-one/">Installation, west wall</a></li>
					<li><a {% if page.id contains ' type-token-2two' %}aria-current="page"{% endif %} href="/tt/type-token-two/">Installation, looking southeast</a></li>
					<li><a {% if page.id contains ' type-token-3three' %}aria-current="page"{% endif %} href="/tt/type-token-three/">Installation, looking southwest</a></li>
					<li><a {% if page.id contains ' type-token-4four' %}aria-current="page"{% endif %} href="/tt/type-token-four/">Installation detail, stripped poly canoe with ash, rotted texts</a></li>
					<li><a {% if page.id contains ' type-token-5five' %}aria-current="page"{% endif %} href="/tt/type-token-five/">Installation detail, video still: Pelt</a></li>
					<li><a {% if page.id contains ' type-token-6six' %}aria-current="page"{% endif %} href="/tt/type-token-six/">Land Use work #2, Community Centre</a></li>
					<li>
            <ul>
              <li><a {% if page.id contains ' type-token-6asix' %}aria-current="page"{% endif %} href="/tt/type-token-sixa/">Erasure - Project for a Village on Kempenfelt Bay, 28 Jan, 1812</a></li>
					    <li><a {% if page.id contains ' type-token-6bsix' %}aria-current="page"{% endif %} href="/tt/type-token-sixb/">Erasure - Plan of the Town of Barrie, 1833</a></li>
					    <li><a {% if page.id contains ' type-token-6csix' %}aria-current="page"{% endif %} href="/tt/type-token-sixc/">Erasure - Plan of the Barrie Station Laid out by Robert Ross, 1853</a></li>
            </ul>
          </li>
					<li><a {% if page.id contains ' type-token-7seven' %}aria-current="page"{% endif %} href="/tt/type-token-seven/">Installation, south and east walls</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->

		<div role="complementary" class="section-access">
			<nav aria-label="Type and Token Research Images" role="navigation">
				<ul class="section">
					<li><a {% if page.id contains ' type-token-10ten' %}aria-current="page"{% endif %} href="/tt/type-token-ten/">Composite map showing 9 Mile Portage currently</a></li>
					<li><a {% if page.id contains ' type-token-11eleven' %}aria-current="page"{% endif %} href="/tt/type-token-eleven/">Photograph, 9 Mile portage</a></li>
					<li><a {% if page.id contains ' type-token-12twelve' %}aria-current="page"{% endif %} href="/tt/type-token-twelve/">Sample page from sound journal</a></li>
					<li><a {% if page.id contains ' type-token-13thirteen' %}aria-current="page"{% endif %} href="/tt/type-token-thirteen/">Detail of portion of sound installation</a></li>
					<li><a {% if page.id contains ' type-token-14fourteen' %}aria-current="page"{% endif %} href="/tt/type-token-fourteen/">Simcoe Country Archives 1984 Map</a></li>
					<li><a {% if page.id contains ' type-token-15fifteen' %}aria-current="page"{% endif %} href="/tt/type-token-fifteen/">Detail, Municipal Planning Map</a></li>
					<li><a {% if page.id contains ' type-token-16sixteen' %}aria-current="page"{% endif %} href="/tt/type-token-sixteen/">Simcoe Country Archives scan showing 1890 flood marking the street</a></li>
					<li><a {% if page.id contains ' type-token-17seventeen' %}aria-current="page"{% endif %} href="/tt/type-token-seventeen/">Land Use work #5, <em>Extractive Industrial</em></a></li>
					<li><a {% if page.id contains ' type-token-18eighteen' %}aria-current="page"{% endif %} href="/tt/type-token-eighteen/">Simcoe Country Archives scan showing mid century recreational canoe use</a></li>
					<li><a {% if page.id contains ' type-token-19nineteen' %}aria-current="page"{% endif %} href="/tt/type-token-nineteen/">Land Use work #6, <em>Sandy Hollow</em></a></li>
					<li><a {% if page.id contains ' type-token-20twenty' %}aria-current="page"{% endif %} href="/tt/type-token-twenty/"> Land Use work #12, <em>Special Industrial</em></a></li>
					<li><a {% if page.id contains ' type-token-8eight' %}aria-current="page"{% endif %} href="/tt/type-token-eight/">Artist talk</a></li>
					<li><a {% if page.id contains ' type-token-9nine' %}aria-current="page"{% endif %} href="/tt/type-token-nine/">Exhibition/gallery entry</a></li>
				</ul>
			</nav>
		</div><!-- /.section-access -->
